<table class="table table-striped table-hover" xmlns:th="http://www.thymeleaf.org">
    <thead class="thead-default">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>
            <input type="hidden" id="total-pages" th:value="${totalPages}"/>
            <input type="hidden" id="current-page" th:value="${currentPage}"/>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="shop,row: ${shops}">
        <td><span th:text="${offset + row.index}"/></td>
        <td th:text="${shop.name}"></td>
        <td>
            <i class="far fa-edit"
               th:onclick="'showUpdateShopForm(' + ${shop.id} + ')'"/>
            &nbsp;
            <i class="far fa-trash-alt"
               th:onclick="'deleteShop(' + ${shop.id} + ')'"/>
            &nbsp;
            &nbsp;
            <i class="far fa-plus-square"
               th:onclick="'createVisit(' + ${shop.id} + ')'"/>
        </td>
    </tr>
    </tbody>
</table>