<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Visits</title>
    <script th:src="@{/pagination.js}"></script>
    <script th:src="@{/visit.js}"></script>
</head>
<body>

<section layout:fragment="content">

    <div class="container">
        <div>
            <div id="visit-list-container"/>
        </div>

        <div>
            <th:block th:insert="pagination"/>
        </div>
    </div>

</section>

</body>
</html>