<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Error</title>
</head>
<body>

<section layout:fragment="content">

    <div class="container">
        <div class="jumbotron">
            <h1>Error!</h1>
            <p>Internal error occurred on server. We recommend you to go to welcome page
                and use menus and controls to do what you want.</p>
            <p><a class="btn btn-primary" href="/" role="button">Goto Welcome page</a></p>
        </div>
    </div>

</section>

</body>
</html>