<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Grocery</title>
    <script th:src="@{/index.js}"></script>
</head>
<body>

<section layout:fragment="content">

    <div class="container">
        <div class="jumbotron">
            <h1>Welcome to Grocery!</h1>
            <p>This service helps you plan and track your purchases during shop visits.</p>
        </div>
    </div>

</section>

</body>
</html>