<table class="table table-striped table-hover" xmlns:th="http://www.thymeleaf.org">
    <thead class="thead-default">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>
            <input type="hidden" id="total-pages" th:value="${totalPages}"/>
            <input type="hidden" id="current-page" th:value="${currentPage}"/>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item,row: ${items}">
        <td><span th:text="${offset + row.index}"/></td>
        <td th:text="${item.name}"></td>
        <td>
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"
                  th:onclick="'showUpdateItemForm(' + ${item.id} + ')'"/>
            &nbsp;
            <span class="glyphicon glyphicon-trash" aria-hidden="true"
                  th:onclick="'deleteItem(' + ${item.id} + ')'"/>
        </td>
    </tr>
    </tbody>
</table>