<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Items</title>
    <script th:src="@{/pagination.js}"></script>
    <script th:src="@{/item.js}"></script>
</head>
<body>

<section layout:fragment="content">

    <div class="container">
        <div>
            <button type="button" class="btn btn-secondary" onclick="showCreateItemForm()">Add Item</button>
        </div>

        <div>
            <div id="item-form-container"/>
        </div>

        <div>
            <div id="item-list-container"/>
        </div>

        <div>
            <th:block th:insert="pagination"/>
        </div>
    </div>

</section>

</body>
</html>