<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Shops</title>
    <script th:src="@{/shop.js}"/>
</head>
<body>

<section layout:fragment="content">

    <div class="container">

        <button type="button" class="btn btn-default" onclick="showCreateShopForm()">Add Shop</button>
        <div id="shop-form-container"/>

        <div id="shop-list-container"/>

        <nav aria-label="Page navigation">
            <ul class="pager">
                <li id="previous-page"><a onclick="gotoPreviousPage()">Previous</a></li>
                <li id="next-page"><a onclick="gotoNextPage()">Next</a></li>
            </ul>
        </nav>
    </div>

</section>

</body>
</html>