<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Visits</title>
    <script th:src="@{/pagination.js}"/>
    <script th:src="@{/visit.js}"/>
</head>
<body>

<section layout:fragment="content">

    <div class="container">

        <input type="hidden" id="list-url" value="/visit/list"/>
        <div id="list-container"/>
        <th:block th:include="pagination"/>

    </div>

</section>

</body>
</html>